* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
.navbar {
    display: flex;
    height: 30px;
    justify-content: left;
    align-items: center;
    position: sticky;
    top: 0;
    color: white;
    background-color: black;
}
header {
    font-size: 23px;
}
.nav-item {
    margin-left: 50px;
    font-weight: 570;
}