* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}
body {
    background-color: black;
}
.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 30px;
    justify-content:space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    color: white;
}
header {
    font-size: 23px;
}
.nav-items {
    display: flex;
}
.nav-item:hover {
    font-size: 20px;
    font-weight: 550;
    color: rgb(0, 255, 0);
}
img {
    width: 100px;
    height: 100px;
    border: 20px solid rgb(0, 0, 211);
    border-radius: 20px;
    margin: 30px;
    transform: rotate(20deg);
}
.nav-item {
    padding: 20px;
    font-weight: 500;
}
span {
    color: rgb(255, 22, 22);
}
.nav-item:active {
    color: red;
}
a {
    text-decoration: none;
}